.main h2 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #767E94;
    margin-top: 48px;
}

.main__list{
    column-count: 4;
    column-gap: 1em;
    -webkit-column-count: 4;
    -moz-column-count: 4;
    -ms-column-count: 4;
    -o-column-count: 4;
    column-count: 4;
}

.main__list__item {
    margin: 0 0 20px;
    display: flex;
    flex-direction: column;
    position: relative;
    background: rgba(32, 40, 62, 0.8);
    backdrop-filter: blur(40px);
    border-radius: 12px;
    width: 282px;
}

.main__button {
    display: flex;
    justify-content: space-between;
    margin-top: 48px;
}

.main__button button {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    padding: 16px 32px;
    background: #7B6EF6;
    border-radius: 12px;
    cursor: pointer;
    border: none;
}

.main__list__ul {
    margin: 0;
    padding: 0;
}

.main__list__item__poster {
    border-radius: 8px;
    width: 266px;
    height: 400px;
    position: relative;
    padding: 8px;
}

.main__list__item-button {
    position: absolute;
    z-index: 2;
    background: rgba(0, 0, 0, 0.65);
    backdrop-filter: blur(4px);
    border-radius: 8px;
    border: none;
    padding: 12px 4px;
    top: 18px;
    left: 16px;
    display: flex;
}

.page-item.previous-page.disable button{
    background: #7B6EF6;
    opacity: 0.4;
    cursor: default;
}

.page-item.next-page.disable button{
    background: #7B6EF6;
    opacity: 0.4;
    cursor: default;
}

.main__list__item__span-nameOriginal {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.01em;
    color: #EBEEF5;
    margin: 16px 8px 24px 16px;
    min-height: 24px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 260px;
}

.main__list__item__span-ratingKinopoisk {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 15px;
    color: #FFAD49;
    padding-left: 4px;
}

@media all and (max-width: 1200px){
    .main__list {
        column-count: 3;
    }

    .main__list__item {
        width: 100% !important;
        align-items: center;
    }
}

@media all and (max-width: 927px){
    .main__list {
        column-count: 2;
    }
}

@media all and (max-width: 635px){
    .main__list {
        column-count: 1;
    }
}

@media all and (max-width: 345px) {
    .main__list__item__poster {
        width: 260px;
    }
}
